body {
margin : 0;
padding : 0;
text-align : left;
color : #333;
background : #858563 url(img/bgd.png) repeat-y top center;
font : 75% "Trebuchet MS", verdana, arial, tahoma, sans-serif;
}
#container {
width : 750px;
margin : 0 auto;
padding : 0;
color : #aaa;
background : #404040;
}
			/*banner properties*/
#banner {
float : left;
width : 750px;
height : 180px;
padding : 0;
margin-bottom : 0;
background : #eee url(img/banner.jpg);
}
#banner h1 {
margin : 40px 0 0 20px;
font : normal 2em georgia, verdana, arial, tahoma, sans-serif;
text-transform : none;
letter-spacing : 3px;
color : #acaf2c;
background : transparent;
}
			/*content properties*/
#content {
padding : 0 10px 0 10px;
margin-left : 170px;
margin-right : 170px;
margin-top : 0;
line-height : 1.8em;
}
#content h1 {
padding : 20px 0 0 0;
font : normal 1.4em verdana, tahoma, arial, sans-serif;
text-transform : uppercase;
letter-spacing : 3px;
color : #acaf2c;
background : inherit;
text-align : center;
}
			/*left sidebar*/
#sidebar {
float : left;
width : 150px;
margin : 0 0 0 0;
padding : 5px;
}
			/*navigation*/
.menu {
margin-bottom : 20px;
width : 110px;
padding : 10px 0 0 0;
}
.menu ul {
margin : 0;
padding : 0;
list-style-type : none;
}
.menu li {
margin : 0 0 0.2em 0;
}
.menu a {
display : block;
font-size : 11px;
color : #acaf2c;
background : #515244;
width : 120px;
padding : 0.5em 0.8em;
text-decoration : none;
border-left : 10px solid #4c4c42;

word-break:keep-all;/* 不换行 */
white-space:nowrap;/* 不换行 */
overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/

}
.menu a:hover {
border-left : 10px solid #6d6f1c;
background-color : #acaf2c;
color : #fff;
}
.links {
font-size : 1.4em;
text-transform : uppercase;
letter-spacing : 3px;
}
			/*right sidebar*/
#sidebar-b {
float : right;
width : 150px;
margin : 0 0 0 0;
padding : 5px;
}
			/*footer properties*/
#footer {
clear : both;
padding : 5px;
margin-top : 5px;
height : 40px;
font-size : 0.8em;
border-top : 1px solid #515244;
color : #eee;
background : #404040;
text-align:center;
}
#footer a:link, #footer a:visited {
background : inherit;
color : #acaf2c;
text-decoration : none;
}
#footer a:hover {
border-bottom : 1px dashed #858563;
background : inherit;
color : #858563;
}
			/*typography*/
h1 {
margin : 0 0 10px 0;
font : normal 1.4em verdana, arial, tahoma, sans-serif;
text-transform : uppercase;
color : #acaf2c;
background : inherit;
}
			/*linksy*/
a {
color : #acaf2c;
font-weight : bold;
text-decoration : none;
background : inherit;
}
a:hover {
text-decoration : none;
color : #369;
background : inherit;
}
			/*classes*/
.clear {
clear : both;
overflow : hidden;
width : 0;
height : 1px;
}
.post {
background-color : #404040;
padding : 3px;
margin : 20px 10px 0 5px;
border : 0 dashed #8a795d;
font-size : 80%;
}
.post .date {
background : url(img/clock.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
}
.post .comments {
background : url(img/comment.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
}
.post .readmore {
background : url(img/document.gif) no-repeat left center;
padding-left : 15px;
margin : 0 15px 0 5px;
}
